.hero {
  max-width: 600px;
  margin: 80px auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero h1 {
  font-size: max(4vw, 36px);
}

.hero p {
  line-height: 1.5;
  width: 75%;
  color: #fff;
}

.hero .headingTwo {
  margin: 40px 0;
  font-size: max(3vw, 26px);
}

.hero form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 8px;
  width: 80%;
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px;
}

.hero input {
  flex: 1;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #403a3e;
}

.hero input::placeholder {
  color: #403a3e;
}

.hero button {
  color: #fff;
  background: #403a3e;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.hero .wallet_btn {
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  background: #94404e;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.hero .wallet_btn:hover {
  box-shadow: 0 0 20px 10px #94404e92;
  transition: all;
  transition-duration: 0.7s;
}

@media (max-width: 500px) {
  .hero form input {
    width: 100px;
  }
}
