.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px 10%;
  border-bottom: 0.5px solid #656565;
}

.navbar h2 span {
  background: #94404e;
  padding: 5px 10px;
  border-radius: 6px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar ul li {
  cursor: pointer;
}

.right_nav {
  display: flex;
  gap: max(1vw, 12px);
  align-items: center;
}

.navbar select {
  color: #fff;
  background: transparent;
  border-radius: 6px;
  border: 2px solid #fff;
  padding: 5px 8px;
}

.navbar option {
  background-color: #94404e;
  color: #fff;
}

.navbar button {
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  background: #94404e;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.navbar button:hover {
  transform: scale(1.08);
}

@media (max-width: 900px) {
  .navbar {
    padding: 20px 8%;
  }

  .navbar button {
    padding: 8px 22px;
    font-size: 14px;
  }

  .navbar h2 span {
    padding: 3px 8px;
    font-size: 19px;
  }

  .navbar h2 {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 5%;
  }

  .navbar ul {
    display: none;
  }
}
